/*  Colors:
    Bright Red:     #DC0000
    Dull Red:       #850000
    Dark Cream:     #FFDB89
    Light Cream:    #FFF6C3 */

body {
    height: 100%;
    width: 100%;
    background-color: #F9F7F7;
    margin: 0rem;
    overflow: auto;
}

#div-title {
    height: 100%;
}


#h1-title {
    font-family: orpheuspro, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20em;

    color: #112D4E;

    text-align: center;
    align-items: center;
    margin: 0;
}

.body-text {
    font-family: roboto, serif;
    font-weight: 400;
    color: #112D4E;
}

#title-link:hover {
    cursor: pointer;
}

.search-bar {
    background-color: #F9F7F7;
}

#div-search-bar {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    width: 60%;
    margin: auto;
}

#div-search-bar:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 8px;
}

.search-bar-text {
    text-align: center;
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;

    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: #112D4E;
}

#input-search-bar {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#input-search-bar:focus {
    outline: none;
}

#input-search-bar::placeholder {
    text-overflow: ellipsis;
}

#div-results {
    width: 100%;
}

.result-link {
    color: #112D4E;
}


#current-result {
    display: grid;
    grid-template-columns: 1fr;
}

#results-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-top: 5vh;
    padding-bottom: 5vh;
}

.card {
    background-color: #F9F7F7;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.card.left {
    margin-left: 10%;
    margin-right: 5%;
}

.card.right {
    margin-left: 5%;
    margin-right: 10%;
}

.card.left, .card.right {
    cursor: pointer;
}

.card-title {
    margin: auto;
    width: 90%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    text-decoration: underline;
}

.card-p {
    margin: auto;
    font-family: roboto, serif;
    font-weight: 400;
    font-size: 1.3em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}


#npda-info-wrapper {
    background-color: #112D4E;
    margin: auto;
    width: 90%;
    min-height: 50vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3%;
}

.npda-info-col1 {
    margin: auto;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.npda-info-col2 {
    width: 100%;
}

#npda-info-title {
    margin: auto;
    font-family: orpheuspro, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 8em;

    width: 100%;
    text-align: center;

    color: #F9F7F7;
    margin-top: 3%;
    margin-bottom: 3%;
}

#npda-info-p.body-text {
    color: #F9F7F7;
}

#npda-info-p {
    margin-left: 5%;
    margin-right: 5%;
}

.media {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 10vh;
}